@charset "UTF-8";
.pr-banner-wrapper {
    width: 100%;
    height: 200px;
    padding-top: 72px;
    text-align: center;
    background-image: url("../img/Product_recommendation.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -3px;
}

.pr-banner-wrapper h2 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 34px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: white;
}

.pr-banner-wrapper p {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: white;
}

.pr-content-wrapper {
    padding-bottom: 190px;
    background-color: #fff;
    /*background-color: #F5F5F5;*/
    height: 800px;
}

.pr-content-wrapper .pr-nav-arrow {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.pr-content-wrapper .pr-nav-arrow .breadcrumb {
    background-color: #F5F5F5;
}

.pr-content-wrapper .pr-nav-arrow .breadcrumb li a {
    font-size: 16px;
}

.pr-form-wrapper{
    width: 1200px;
    margin: 0 auto;
    /*background-color: #fff;*/
    background-color: #f5f5f5;
}

.pr-form-wrapper .first_strip{
    height: 160px;
    background-color: #ffffff;
    margin-top: 26px;
}


.productName{
    vertical-align: middle;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: inherit;
    display: inline-block;
}

.productName span,.nei span{
    color: red;
}

.product_form{
    padding: 30px 50px;
}

.input-wrapper{
    display: inline-block;
    vertical-align: middle;
    height: 52px;
}

.input-wrapper input{
    box-sizing: border-box;
    width: 400px;
    height: 52px;
    padding: 6px 12px;
    font-size: 16px;
    color: #999999;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    background: #f4f4f4;
    border-color: transparent;
    box-shadow: 0 0 0 0 !important;
    border-radius: 0;
}

.text_content{
    margin-top: 30px;
    margin-left: 22px;
}

.nei{
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: inherit;
}

.nei_text{
    display: inline-block;
    margin-right: 5px;
}

.conect{
    margin-top: 50px;
    /*background: #fff;*/
    width: 1200px;
    /*height:300px;*/
}

.submit{
    width:250px;
    height:60px;
    background: #025AB3;
    color: #fff;
    font-size: 16px;
    background-color: #025AB3;
    border-radius: 2px;
    border: none;
}

.save{
    width:250px;
    height:60px;
    background: #FDA923;
    color: #fff;
    font-size: 16px;
    background-color: #FDA923;
    border-radius: 2px;
    border: none;
    margin-left:80px;
}

.submit-btn{
    margin-top: 80px;
    text-align: center;
}