.import {
  padding: 0px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
}

.import a {
  color: #333333;
  text-decoration: none;
}

.import div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.import img {
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

.import span {
  padding-right: 28px;
}

.import .notice {
  width: 92px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background: #2AC579;
  border: none;
  margin-left: 30px;
  color: #fff;
  cursor: pointer;
}

.import .notice a {
  text-decoration: none;
  color: #fff;
}

.armyDemand {
  height: 60px;
  line-height: 60px;
  padding: 0px;
  position: absolute;
  bottom: 14px;
  margin: 0;
}

.armyDemand .active {
  border-bottom: 4px solid #fff;
}

.armyDemand li {
  list-style-type: none;
  float: left;
  margin-right: 40px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}

.armyDemand a {
  color: #fff;
  text-decoration: none;
}

.modal-body-need p {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-footer .btn + .btn {
  margin-left: 20px;
}

.btn-default {
  width: 140px;
  height: 40px;
  background: #025AB3;
  border: 1px solid #025AB3;
  font-size: 16px;
  background-color: #fff;
  border-radius: 2px;
}

.btn-default:hover {
  background: #025AB3;
  color: #fff;
}

.btn-primary {
  width: 140px;
  height: 40px;
  background: #025AB3;
  color: #fff;
  font-size: 16px;
  background-color: #025AB3;
  border-radius: 2px;
}

.demand-table,
.docking-table {
  min-height: 300px;
  padding: 0 30px;
}

.demand-table .title-table,
.docking-table .title-table {
  background: #ecf3f9;
}

.demand-table .title-table th,
.docking-table .title-table th {
  color: #333333;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  border: none;
}

.demand-table .checkboxOne,
.docking-table .checkboxOne {
  padding-left: 10px;
}

.demand-table .checkboxOne input[type="checkbox"],
.docking-table .checkboxOne input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.demand-table .checkboxOne input[type="checkbox"]:checked + label::after,
.docking-table .checkboxOne input[type="checkbox"]:checked + label::after {
  background-image: url("../img/personalRegistration-selected.png");
  border: none;
  cursor: pointer;
}

.demand-table .checkboxOne label,
.docking-table .checkboxOne label {
  position: relative;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}

.demand-table .checkboxOne label::after,
.docking-table .checkboxOne label::after {
  content: '';
  display: block;
  position: absolute;
  left: -9px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #BCBCBC;
  border-radius: 2px;
  cursor: pointer;
}

.demand-table .table th,
.demand-table .table tr td,
.docking-table .table th,
.docking-table .table tr td {
  border: none;
}

.demand-table .title,
.docking-table .title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demand-table .company,
.docking-table .company {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demand-table .txt_title,
.docking-table .txt_title {
  padding: 10px 40px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
}

.demand-table .modal-body-need .need-title,
.docking-table .modal-body-need .need-title {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}

.demand-table .modal-body-need .form-group input,
.docking-table .modal-body-need .form-group input {
  width: 288px;
}

.demand-table .modal-body-need .input-wrapper input,
.docking-table .modal-body-need .input-wrapper input {
  width: 738px;
}

.demand-table .modal-body-need .input-wrapper .form-control,
.docking-table .modal-body-need .input-wrapper .form-control {
  width: 738px;
  padding: 6px 12px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  background: #f4f4f4;
  border: none;
  box-shadow: none;
}

.demand-table .modal-body-need .need-title,
.docking-table .modal-body-need .need-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 123px;
}

.demand-table .modal-body-need .feedback,
.docking-table .modal-body-need .feedback {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}

.demand-table .modal-body-need .annex,
.docking-table .modal-body-need .annex {
  color: #025AB3;
}

.demand-table .modal-footer,
.docking-table .modal-footer {
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.demand-table .modal-footer .btn,
.docking-table .modal-footer .btn {
  width: 140px;
  height: 40px;
  background: #025AB3;
  color: #fff;
  font-size: 16px;
  background-color: #025AB3;
  border-radius: 2px;
}

.demand-table .modal-body .need-title,
.docking-table .modal-body .need-title {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}

.demand-table .modal-body .form-control,
.docking-table .modal-body .form-control {
  width: 364px;
}

.demand-table .modal-body .input-wrapper .form-control,
.docking-table .modal-body .input-wrapper .form-control {
  width: 738px;
  padding: 6px 12px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  background: #f4f4f4;
  border: none;
  box-shadow: none;
}

.demand-table table,
.demand-table tr th,
.docking-table table,
.docking-table tr th {
  border: none;
  text-align: center;
}

.demand-table tr td,
.docking-table tr td {
  text-align: center;
  border: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}

.demand-table tr td img,
.docking-table tr td img {
  margin-right: 20px;
  cursor: pointer;
}

.demand-table tr td img:last-child,
.docking-table tr td img:last-child {
  margin-right: 0px;
}

.demand-table input[type="checkbox"],
.docking-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.demand-table .page,
.docking-table .page {
  text-align: center;
  margin-bottom: 80px;
}

.demand-table .page .pagination > .active > a,
.demand-table .page .pagination > li > a,
.docking-table .page .pagination > .active > a,
.docking-table .page .pagination > li > a {
  margin-right: 5px;
  border-radius: 4px;
}

.demand-table .page .pagination > li:first-child > a,
.docking-table .page .pagination > li:first-child > a {
  border-radius: 4px;
}
