.content {
  background: #fff;
  padding: 40px;
  margin-bottom: 80px;
}

.table-wrapper {
  padding: 0 20px;
}

.table-wrapper .table-bordered {
  border: 1px solid #ddd;
}

.table-wrapper thead tr th {
  border: 1px solid #ddd;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  font-size: 13px;
  padding: 0;
  text-align: center;
}

.table-wrapper tbody tr td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.table-wrapper .img-aptitude {
  width: 120px;
}

.table-wrapper .img-aptitude img {
  float: left;
  width: 57px;
  height: 35px;
}

.table-wrapper .name {
  width: 100px;
}

.table-wrapper .type {
  width: 120px;
}

.table-wrapper .grade {
  width: 80px;
}

.table-wrapper .number {
  width: 50px;
}

.table-wrapper .synopsis {
  text-align: left;
}

.table-wrapper .a-operation {
  width: 100px;
}

.table-wrapper .a-operation a {
  text-decoration: none;
}

.big-img {
  position: relative;
}

.big-img .wrap-img {
  position: absolute;
  width: 333px;
  height: 245px;
  background-color: #f2f2f2;
  left: 188px;
  bottom: 430px;
}

.big-img .wrap-img img {
  width: 333px;
  height: 200px;
}

.big-img-show {
  display: block;
}

.big-img-hidd {
  display: none;
}

.look {
  border: 1px solid #e2e2e2;
  width: 100px;
  text-align: center;
}

.look a {
  display: block;
  text-decoration: none;
  padding: 6px 0;
}

.look a .look-btn {
  width: 80px;
}

.dropdown-menu {
  min-width: 120px;
}
