.breadcrumb {
    background: none !important;
}

.breadcrumb li a, .breadcrumb li {
    color: #fff !important;
    font-size: 12px;
}

.breadcrumb > li + li:before {
    color: #CCCCCC !important;
    content: "/ " !important;
    padding: 0 5px;
}
.purchase-need {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .purchase-need p {
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: bold;
  }

  .purchase-need .search_input {
    color: #fff;
  }

  .purchase-need .search_input input {
    width: 300px;
    height: 40px;
    color: #666666;
    padding-left: 10px;
  }

  .purchase-need .search_input .btn-primary {
    padding: 10px 20px;
    background: #025AB3;
    border: none;
  }

  .purchase-need .search_input .btn-primary:active:focus {
    background: #025AB3;
    border: none;
  }

  /* 主体部分 */

.requirementDetail .detailTitle{
    font-family: "微软雅黑 Bold", 微软雅黑;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}
  .requirementDetail {
    min-height: 1000px;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 80px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 50px;
  }
  .requirementDetail>h3{
      padding-bottom: 32px;
      width: 1100px;
  }

  .requirementDetail .nav {
    background: #f6f6f6;
    margin-top: 32px;
    width: 1100px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
  }

  .requirementDetail .nav .nav-ceil {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    float: left;
    padding-left: 12px;
  }

  .requirementDetail .nav .nav-ceil .txt-ceil, .requirementDetail .nav .nav-ceil .ceil {
    padding-right: 10px;
  }

  .requirementDetail .nav .nav-ceil .txt-ceil {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .requirementDetail .nav .ceil {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;

  }

  .requirementDetail .nav .ceil span {
    padding-right: 0px 6px;
  }

  .requirementDetail .nav .ceil .demandTypeName, .requirementDetail .nav .ceil .demandPublishUnit {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
  }

  .requirementDetail .nav .right {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    align-items: center;
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 12px;
  }

  .requirementDetail .nav .right .imgCollect {
    background-image: url(../img/collect.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 39px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }

  .requirementDetail .nav .right .imgCollect:hover,
  .requirementDetail .nav .right .imgCollect.active
  {
    background-image: url(../img/select_collect.png);
    cursor: pointer;
  }

  .requirementDetail .detail {
    border: 1px dashed #CCCCCC;
    margin-top: 34px;
    /* display: flex;
    justify-content: space-between; */
    width: 1100px;
    padding: 20px 20px 0;
    color: #333;
  }

  .requirementDetail .detail .ceil p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .requirementDetail .detail .ceil p span {
    font-weight: 500;
  }

  .requirementDetail .content {
    width: 100%;
  }

  .requirementDetail .content >div>p {
    margin:0;
    text-indent: 2em;
  }
  .requirementDetail .content>p{
      padding: 26px 0;
  }
  .requirementDetail .content>p> span {
    font-size: 16px;
  }

  .requirementDetail .content .txt {
    margin-top: 10px;
    font-size: 16px;
    line-height: 36px;
    color: #333;
  }
  .requirementDetail .content > p.attchment {
      border-bottom: 1px solid #eee;
      font-weight: bold;
      text-indent: 1em;
      padding-bottom: 16px;
  }
  .requirementDetail .attchmentTxt{
    padding-bottom: 40px;
    text-indent: 1em;
  }
  .requirementDetail .attchmentTxt >a {
      color:#0099ff;
      font-size: 16px;
      text-decoration: underline;
  }
  .domesticTitle{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 34px;
  }
  .swimgrow{
    width: 1100px;
    padding: 20px 20px 0;
    color: #333;
  }
  .requirementDetail .detail .ceil p span.zlxx_span{
    font-weight: bold;
    display:inline-block;
    text-align: right;
  }

