.radio-item-frist {
    margin-left: 29px;
}
.radio-item {
    margin-right: 42px;
    input[type="radio"] {
        position: absolute;
        top: 6px;
        left: 13px;
        width: 16px;
        height: 16px;
        z-index: 2;
        opacity: 0;
        &:checked +label::after {
            background: url('../img/radio-select.png') no-repeat;
            background-position: center center;
        }
    }
    label {
        position: relative;
        font-size:16px;
        line-height: 18px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
        &::after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -28px;
            bottom: 0px;
            border-radius: 50%;
            border: solid 1px #025AB3;
        }
    }
}
.sh-wrapper {
    label {
        width: auto !important;
    }
}