
.requirementDetail{
  min-height: 1000px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 0 40px 40px;
  .content-title{
    text-align: center;
    font-weight: bold;
  }
  p{
    font-size: 20px;
    padding-top: 60px;
    margin: 0px;
  }
  .nav{
    padding: 20px 30px;
    background: #f6f6f6;
    width:100%;
    margin-top: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    .pub {
      float: left;
      span {
        line-height: 32px;
      }
    }
    .nav-ceil{
      // display: flex;
      float: left;
      span {
        line-height: 32px;
      }
      .txt-ceil,.ceil{
        // display: inline-block;
        padding-right: 10px;
        float: left;
      }
      .name-ceil{
        float: left;
      }
      .txt-ceil{
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        float: left;
      }
    }
    .ceil{
      display: flex;
      span{
        padding-right: 0px 6px;
      }
      .demandTypeName, .demandPublishUnit{
        display:block;
        white-space:nowrap; 
        overflow:hidden; 
        text-overflow:ellipsis;
        width:90px;
      }
   
    }
    .right{
      // display: flex;
      // align-items: center;
      float: right;
      .consult{
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
        color: #fff;
        background: #468cd3;
        padding: 6px 8px;
        margin-right: 10px;
        cursor: pointer;
        img{
          margin-right: 8px;
          width: 20px;
          height: 17px;
        }
      }
      .imgCollect{
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/collect.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 39px;
        height: 32px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        &:hover{
          background-image: url(../img/select_collect.png);
          cursor: pointer;
        }
      }
    }
  }
  .detail{
    border:1px dashed #CCCCCC;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 0;
    color: #333;
    .ceil{
      p{
        margin: 0px;
        padding: 0px;    
        font-size: 16px;
        padding-bottom: 20px;
        font-weight: bold;
        span{
          font-weight: 500;
        }
      }
    }
  }
  .content{
    width: 100%;
    .title-ceil {
      padding: 30px 0 10px;
      border-bottom: 1px solid #cccccc;
      span {
        margin-left: 10px;
        font-size: 16px;
      }
    }
    .txt{
      margin-top: 10px;
      font-size: 16px;
      line-height: 36px;
      color: #333;
      white-space: pre-wrap;
      word-break: break-word;
      span{
        color:#468cd3;
      }
    }
  }
  .demandDocking{
    border:1px solid #f2f2f2;
    border-top:none;
    min-height: 500px;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    .demand-nav{
      height: 60px;
      background: #f6f6f6;
      position: relative;
      margin-bottom: 60px;
      .title{
        position: absolute;
        color: #666;
        padding: 14px 24px;
        background: #fff;
        font-size: 16px;
        bottom: 0px;
        left:10px;
      }
    }
    // 未登录
    .goLogin{
      text-align: center;
      p{
        color: #ff0000;
        font-size: 16px;
      }
      .login{
        width: 224px;
        height: 65px;
        background: #025AB3;
        border:none;
        color: #fff;
        font-size: 16px;
        margin-top: 40px;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
    // 已登录
    .demand-form{
      overflow: hidden;
      .form-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        input{
          width: 384px;
          background: #fff;
          border:1px solid #ccc;
        }
        .control-label{
          width: 130px;
          text-align: right;
          font-weight: 500;
          font-size: 16px;
          span{
            color: #ff0000;
          }
        }
        textarea.form-control{
          width: 942px;
          // height: 52px;
        }
      }
      .form-fileupload {
        a{
          text-decoration: none;
          cursor: pointer;
        }
        span{
          margin-left: 10px;
          font-size: 16px;
        }
        h5{
          color: #ccc;
        }
        .file{
          display: flex;
          align-items: center;
        }
        .btn_addPic {
          display: inline-block;
          position: relative;
          width: 140px;
          height:46px;
          line-height:46px; 
          overflow: hidden;
          border:1px solid #ccc;
          background: #fff;
          color: #999;
          text-align: center;
          font-size: 14px;
        }
        .filePrew{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 140px;
          height:46px;
          font-size: 16px;
          opacity: 0;
          filter: alpha(opacity=0);
          cursor: pointer;
        }
      }
      .submit-btn{
        text-align: center;
        margin: 110px 0 80px 0;
        .btn{
          width: 224px;
          height: 56px;
          font-size: 16px;
          border-radius: 0px;
          margin-right: 20px;
          cursor: pointer;
        }
        .submit{
          background: #025AB3;
          color: #fff;
          border:none;
        }
        .save{
          background: #fff;
          color: #025AB3;
          border:1px solid #025AB3;
          &:hover{
            background: #025AB3;
            color: #fff;
          }
        }
      }
    }
    .guide-form{
      overflow: hidden;
      .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        input{
          width: 828px;
          background: #fff;
          border:1px solid #ccc;
        }
        .project-name{
          background: #E4E4E4;
        }
        .need-title{
          width: 180px;
          text-align: right;
          font-weight: 500;
          font-size: 16px;
          span{
            color: #ff0000;
          }
        }
        .feedback{
          font-size:16px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color: #333333;
          margin-bottom: 5px;
        }
      }
      .form-fileupload {
        a{
          text-decoration: none;
          cursor: pointer;
        }
        span{
          margin-left: 10px;
          font-size: 16px;
        }
        h5{
          color: #ccc;
        }
        .file{
          display: flex;
          align-items: center;
        }
        .btn_addPic {
          display: inline-block;
          position: relative;
          width: 140px;
          height:46px;
          line-height:46px; 
          overflow: hidden;
          border:1px solid #ccc;
          background: #fff;
          color: #999;
          text-align: center;
          font-size: 14px;
        }
        .filePrew{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 140px;
          height:46px;
          font-size: 16px;
          opacity: 0;
          filter: alpha(opacity=0);
          cursor: pointer;
        }
      }
      .input-group-addon{
        position: absolute;
        right:20px;
        bottom: 10px;
        z-index: 99;
        .glyphicon-calendar{
          font-size: 18px;
        }
      }
    }
  }
  .statement{
    font-size: 16px;
    margin-top: 40px;
    .txt{
      color: #cccccc;
    }
  }
  .sub-btn {
    margin: 80px 0;
    text-align: center;
    button {
        margin-right: 10px;
        width: 250px;
        height: 60px;
        background: rgba(2, 90, 179, 1);
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        border-color: transparent;
        border-radius: 0;
    }
}
}

.pub div{
   display: inline-block
 }

.pub span{
 margin-right: 10px;
}