.pr-content-wrapper {
  padding-bottom: 83px;
  background-color: #F5F5F5;
}

.pr-content-wrapper .pr-form-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 58px 21px 58px 21px;
  background-color: #ffffff;
  overflow: hidden;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper {
  position: relative;
  width: 100%;
  padding: 0 45px 0 70px;
  overflow: hidden;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .left {
  margin-left: 30px;
  float: left;
  text-align: center;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .left .icon {
  display: block;
  margin: 12px auto 22px auto;
  width: 31px;
  height: 34px;
  background: url("../img/user-information-authentication-unselect.png") no-repeat;
  background-size: contain;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .line {
  position: absolute;
  left: 50%;
  top: 47px;
  display: inline-block;
  width: 472px;
  height: 1px;
  transform: translateX(-50%);
  background: #e5e5e5;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .right {
  margin-right: 30px;
  float: right;
  text-align: center;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .right .icon {
  display: block;
  margin: 12px auto 22px auto;
  width: 31px;
  height: 34px;
  background: url("../img/user-information-unselect.png") no-repeat;
  background-size: contain;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .left-active h3 {
  color: #025AB3;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .left-active .icon {
  background: url("../img/user-information-authentication-select.png") no-repeat;
  background-size: contain;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .right-active h3 {
  color: #025AB3;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper .right-active .icon {
  background: url("../img/user-information-select.png") no-repeat;
  background-size: contain;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper h3 {
  margin: 0;
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 500;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper p {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999999;
  line-height: 30px;
}

.pr-content-wrapper .pr-form-wrapper .user-authentication-wrapper p a {
  text-decoration: underline;
  color: #025AB3;
}

.pr-content-wrapper .pr-form-wrapper .state {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 65px;
  margin-top: 35px;
  padding: 16px 40px;
  background-color: #F5F5F5;
}

.pr-content-wrapper .pr-form-wrapper .state p {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999;
}

.pr-content-wrapper .pr-form-wrapper .state p:last-child {
  display: block;
}

.pr-content-wrapper .pr-form-wrapper .state p .sign {
  text-decoration: underline;
  color: #025AB3;
}

.pr-content-wrapper .pr-form-wrapper .state p .certificate {
  padding: 6px;
  color: #fff;
  background: #FDA923;
  margin-left: 10px;
}

.pr-content-wrapper .pr-form-wrapper .state .pass {
  display: inline-block;
  color: #FF0000;
}

.pr-content-wrapper .pr-form-wrapper .pr-form-title-psw {
  margin-left: 59px;
  border-bottom: solid 1px #ccc;
}

.pr-content-wrapper .pr-form-wrapper .pr-form-title-psw a {
  background: #f6f6f6;
  padding: 10px 30px;
  margin: 0px 10px;
  display: inline-block;
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 500;
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.pr-content-wrapper .pr-form-wrapper .pr-form-title-psw .form-title-active {
  position: relative;
  color: #025AB3;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -2px;
  border-top: 3px solid;
  border-bottom: 2px solid #fff !important;
}

.pr-content-wrapper .form-horizontal {
  margin-top: 60px;
}

.pr-content-wrapper .form-horizontal .form-group label {
  text-align: right;
  font-size: 18px;
  line-height: 42px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: inherit;
}

.pr-content-wrapper .form-horizontal .form-group label span {
  color: red;
}

.pr-content-wrapper .form-horizontal .form-group .fileinput-wrapper {
  margin-right: 30px;
  position: relative;
  width: 300px;
  height: 200px;
  background: #f4f4f4;
  text-align: center;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999999;
}

.pr-content-wrapper .form-horizontal .form-group .fileinput-wrapper input {
  width: 276px;
  height: 133px;
  opacity: 0;
}

.pr-content-wrapper .form-horizontal .form-group .fileinput-wrapper::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  display: block;
  height: 52px;
  width: 2px;
  background: #cccccc;
  transform: translate3d(-50%, -50%, 0);
}

.pr-content-wrapper .form-horizontal .form-group .fileinput-wrapper::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  display: block;
  width: 52px;
  height: 2px;
  background: #cccccc;
  transform: translate3d(-50%, -50%, 0);
}

.pr-content-wrapper .form-horizontal .form-group .fileinput-wrapper button {
  margin: 30px auto 0 auto;
  width: 100px;
  height: 30px;
  background: #025ab3;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #fefefe;
  border-color: transparent;
}

.pr-content-wrapper .form-horizontal .form-group .template {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
}

.pr-content-wrapper .form-horizontal .form-group .template span {
  padding: 7px 14px;
  background: #025AB3;
  border-radius: 16px;
  margin-right: 72px;
}

.pr-content-wrapper .form-horizontal input.inputStyle {
  border: none;
  width: 400px;
  height: 52px;
  line-height: 52px;
  outline: none;
  border-radius: 2px;
  background-position-x: 10px;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 16px;
}

.pr-content-wrapper .form-horizontal .verification {
  position: relative;
}

.pr-content-wrapper .form-horizontal .getcode {
  position: absolute;
  right: 410px;
  top: 18px;
  border-left: 1px solid #E5E5E5;
  padding-left: 10px;
  color: #025AB3;
  cursor: pointer;
}

.pr-content-wrapper .submit-btn {
  margin-top: 40px;
  text-align: center;
}

.pr-content-wrapper .submit-btn button {
  width: 180px;
  height: 48px;
  background: #025ab3;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: white;
  border-color: transparent;
  border-radius: 0;
}

.fileinput-wrapper img{
  width: 300px;
  height: 200px;
  margin-top: -175px;
  margin-left: -15px;
}