.demand-table,
.docking-table {
  padding: 0 40px;
}

.demand-table .title-table,
.docking-table .title-table {
  background: rgba(2, 90, 179, 0.15);
}

.demand-table .title-table th,
.docking-table .title-table th {
  color: #333333;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  border: none;
}

.demand-table .checkboxOne input[type="checkbox"],
.docking-table .checkboxOne input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.demand-table .checkboxOne input[type="checkbox"]:checked + label::after,
.docking-table .checkboxOne input[type="checkbox"]:checked + label::after {
  background-image: url("../img/personalRegistration-selected.png");
  border: none;
  cursor: pointer;
}

.demand-table .checkboxOne label,
.docking-table .checkboxOne label {
  position: relative;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}

.demand-table .checkboxOne label::after,
.docking-table .checkboxOne label::after {
  content: '';
  display: block;
  position: absolute;
  left: -9px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #BCBCBC;
  border-radius: 2px;
  cursor: pointer;
}

.demand-table .table th,
.demand-table .table tr td,
.docking-table .table th,
.docking-table .table tr td {
  border: none;
}

.demand-table table, .demand-table tbody, .demand-table tr, .demand-table th, .demand-table td,
.docking-table table,
.docking-table tbody,
.docking-table tr,
.docking-table th,
.docking-table td {
  border: 1px solid #666666 !important;
}

.demand-table table,
.demand-table tr th,
.docking-table table,
.docking-table tr th {
  border: none;
  text-align: center;
}

.demand-table tr td,
.docking-table tr td {
  text-align: center;
  border: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}

.demand-table tr td:last-child,
.docking-table tr td:last-child {
  text-align: left;
}

.demand-table tr td img,
.docking-table tr td img {
  margin-right: 20px;
  cursor: pointer;
}

.demand-table tr td img:last-child,
.docking-table tr td img:last-child {
  margin-right: 0px;
}

.demand-table tr td a,
.docking-table tr td a {
  display: block;
  width: 70px;
  height: 20px;
  background: url("../img/more.png") no-repeat;
  background-position: center center;
}

.demand-table .accordion-body tr td:last-child,
.docking-table .accordion-body tr td:last-child {
  text-align: left;
  text-indent: 2em;
}

.demand-table input[type="checkbox"],
.docking-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
