.relation {
  margin-top: 10px;
}

.relation .ceil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relation .ceil h5 {
  display: flex;
  align-items: center;
}

.relation .ceil h5 .marker {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #666666;
  opacity: 0.5;
  margin-right: 10px;
}

.relation .ceil h5 a {
  color: #666666;
  font-size: 16px;
  text-decoration: underline;
}

.relation .ceil h5 .tag {
  color: #025AB3;
  margin-right: 20px;
}

.subTime {
  padding: 10px 20px;
}

.subTime h3 {
  font-size: 16px;
}

.form-fileupload {
  cursor: pointer;
}

.form-fileupload .file {
  display: flex;
  align-items: center;
}

.form-fileupload .file a {
  text-decoration: none;
  cursor: pointer;
}

.form-fileupload .file .btn_addPic {
  display: inline-block;
  position: relative;
  margin-left: 15px !important;
  width: 140px;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}

.form-fileupload .file .filePrew {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 46px;
  font-size: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.pr-banner-wrapper {
  width: 100%;
  height: 200px;
  padding-top: 72px;
  text-align: center;
  background-image: url(../img/title-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pr-banner-wrapper h2 {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 34px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: white;
}

.demandDocking textarea {
  width: 943px !important;
}
