.pr-content-wrapper {
    background-color: #ffffff;
    .pr-nav-arrow .breadcrumb {
        background-color: #fff; 
    }
    .pr-form-wrapper .accordion-group .accordion-heading {
        padding-bottom: 0;
        a {
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 2px solid #025ab3;
        }
    }

    .two-input {
        input {
            width: 150px;
            &:first-child {
                margin-right: 12px;
            }
            &:nth-child(3) {
                margin: 0 12px ;
            }
        }
        span {
            font-size: 18px;
        }
    }

    // 复选框
    .pr-form-wrapper .checkbox-group {
        .control-title {
            text-align: left;
            vertical-align: top;
        }
        .checkbox-right {
            display: inline-block;
            margin-left: 20px;
            width: 957px;
            text-align: left;
            .checkbox-position {
                display: inline-block;
                margin-bottom: 40px;
                min-width: 205px;
                text-align: left;
                &:nth-child(5),&:nth-child(15),&:nth-child(10),&:nth-child(20) {
                    min-width: 130px;
                }
            }
        }
    }

    .pr-form-wrapper .first-accordion-inner .form-fileupload {
        margin-top: 60px;
        label {
            vertical-align: top;
            margin-right: 40px;
        }
        #check-img,#check-video {
            display: block;
            background: #025AB3;
            color: #ffffff;
            text-align: center;
            line-height: 42px;
            width: 130px;
        }
    }

    .pr-form-wrapper .first-accordion-inner .form-video {
        label {
            margin-right: 24px !important;
        }
    }

    .pr-form-wrapper .btn-wrapper button {
        margin-left: 20px;
    }
}
.cha_parent{
    position: relative;
}
.cha{
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    top:0;
    right:15px;
    // top: 25px;
    // left: 435px;
}

.cha span{
    width: 20px;
    height: 20px;
    color: #fff !important;
    font-size: 24px !important;
    text-align: center;
    top: -6px;
    position: absolute;
}

.cha:hover{
    cursor: pointer;
}