body .breadcrumb {
  background: none !important;
}

body .breadcrumb li a, body .breadcrumb li {
  color: #fff !important;
}

body .breadcrumb > li + li:before {
  color: #CCCCCC !important;
  content: "/ " !important;
  padding: 0 5px;
}

body .serviceGuide {
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
  padding: 30px 40px 90px;
  margin-bottom: 80px;
}

body .serviceGuideTitle {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  margin: 0px;
}

body .serviceGuideTitle span {
  font-size: 20px;
  display: inline-block;
  color: #025AB3;
  background: url(../img/line_1_u18559.png) left bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 24px;
}

body .col-xs-3 {
  padding-left: 0px;
}

body .serviceGuideNav {
  width: 204px;
  background-color: transparent;
}

body .serviceGuideNav li {
  background: url(../img/u18566.png) left bottom no-repeat;
  background-size: 100% auto;
}

body .serviceGuideNav li a {
  color: #666666 !important;
  font-weight: normal;
  font-size: 16px;
  width: 204px;
  box-sizing: border-box;
  padding: 24px 0;
}

body .serviceGuideNav li:hover, body .serviceGuideNav li:focus {
  background-color: transparent;
  background: url(../img/u18566_mouseover.png) left bottom no-repeat;
  background-size: 100% auto;
}

body .serviceGuideNav li.active {
  background: url(../img/u18563.png) left bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 2px;
}

body .serviceGuideNav li.active a {
  color: #025AB3 !important;
  font-weight: bold;
}

body .serviceGuideNav > li > a:hover, body .serviceGuideNav > li > a:focus {
  background-color: transparent;
  background: url(../img/u18566_mouseover.png) left bottom no-repeat;
  background-size: 100% auto;
}

body .serviceGuideTabContent {
  text-align: left;
}

body .serviceGuideTabContent h4 {
  font-size: 18px;
  margin-top: 24px;
  font-weight: bold;
}

body .serviceGuideTabContent p {
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 0px;
}

body .serviceGuideTabContent p.serverP {
  text-indent: 2em;
}

body .serviceGuideTabContent p.mtp {
  margin-top: 30px;
}

body .serviceGuideTabContent .serverImg {
  text-align: center;
  margin-bottom: 10px;
}

body .serviceGuideTabContent .serverImg img {
  max-width: 100%;
}

body .purchase-list {
  border-top: 0;
}

body .purchase-list .purchase-ceil {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e1dede;
  height: 60px;
  line-height: 60px;
}

body .purchase-list .purchase-ceil .ceil {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 16px;
}

body .purchase-list .purchase-ceil .ceil .square {
  width: 10px;
  height: 10px;
  background: #ebeaea;
  margin: 0px;
}

body .purchase-list .purchase-ceil .ceil .txt {
  padding-left: 10px;
  cursor: pointer;
}

body .purchase-list .purchase-ceil .ceil .txt a {
  text-decoration: none;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .purchase-list .purchase-ceil .ceil .number {
  color: #FF0000;
  padding: 0 4px;
}

body .purchase-list .purchase-ceil .ceil .state {
  padding-left: 20px;
  margin: 0px;
}

body .page {
  text-align: center;
  margin-top: 20px;
}

body .page .pagination {
  line-height: 27px;
}

body .page .pagination .g-input {
  height: 32px;
  width: 40px;
  margin: 0 4px;
  border: 1px solid #ddd;
  text-align: center;
}

body .page .pagination .jump {
  background: #025AB3;
  border: none;
  color: #fff;
  font-size: 13px;
  margin-left: 4px;
}

body .page .pagination > .active > a, body .page .pagination > li > a {
  margin-right: 5px;
  border-radius: 4px;
}

body .page .pagination > li:first-child > a {
  border-radius: 4px;
}
