.requirementDetail {
  min-height: 800px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 40px;
}

.requirementDetail .content-title {
  text-align: center;
  font-size: 20px;
  padding-top: 60px;
  margin: 0px;
  font-weight: bold;
}

.requirementDetail .nav {
  background: #f6f6f6;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  height: 64px;
  line-height: 64px;
  padding: 0 50px;
}

.requirementDetail .nav ul {
  padding: 0px;
  margin: 0px;
}

.requirementDetail .nav ul li {
  display: inline-block;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-right: 13px;
}

.requirementDetail .nav ul li:last-child {
  margin-right: 0px;
}

.requirementDetail .nav .nav-ceil .txt-ceil, .requirementDetail .nav .nav-ceil .ceil {
  padding-right: 10px;
}

.requirementDetail .nav .nav-ceil .txt-ceil {
  width: 90px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requirementDetail .nav .ceil span {
  padding-right: 0px 6px;
}

.requirementDetail .nav .ceil .demandTypeName, .requirementDetail .nav .ceil .demandPublishUnit {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.requirementDetail .nav .right {
  display: flex;
  align-items: center;
}

.requirementDetail .nav .right .consult {
  border-radius: 4px;
  color: #fff;
  background: #468cd3;
  padding: 6px 8px;
  margin-right: 10px;
  cursor: pointer;
}

.requirementDetail .nav .right .consult img {
  margin-right: 8px;
  width: 20px;
  height: 17px;
}

.requirementDetail .nav .right .imgCollect {
  background-image: url(../img/collect.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 39px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.requirementDetail .nav .right .imgCollect:hover {
  background-image: url(../img/select_collect.png);
  cursor: pointer;
}

.requirementDetail .detail {
  border: 1px dashed #CCCCCC;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 0;
  color: #333;
}

.requirementDetail .detail .ceil p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: bold;
}

.requirementDetail .detail .ceil p span {
  font-weight: 500;
}

.requirementDetail .content {
  width: 100%;
}

.requirementDetail .content .title-ceil {
  padding: 30px 0 10px;
  border-bottom: 1px solid #cccccc;
}

.requirementDetail .content .title-ceil span {
  margin-left: 10px;
  font-size: 16px;
}

.requirementDetail .content .txt {
  margin-top: 10px;
  font-size: 16px;
  line-height: 36px;
  color: #333;
}

.requirementDetail .content .txt span {
  color: #468cd3;
}
