.demand {
    .tab-content .demandform {
        input {
            width: 200px;
        }

    }

    .import {
        padding: 0px 30px 10px;
    }

    .demand-table {
        .title {
            width: 100px;
        }
        a {
            text-decoration: none;
        }
    }
}