<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    <link href="../../../static/css/mui/mui.min.css" rel="stylesheet"/>
	<link href="../../../assets/css/common.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../assets/css/queryPoint.css">

	<script src="../../../static/js/babel/babel-browser.min.js" type="text/javascript"></script>
	<script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  	<script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  	<script src="../../../assets/js/home/index.js" type="text/babel"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
    <div class="mui-card">
        <div class="mui-card-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">爱德森（厦门）电子有限公司
                </li>
                <li class="mui-table-view-cell">Item 8
                </li>
                <li class="mui-table-view-cell">安方高科电磁安全技术（北京）有限公司
                </li>
                <li class="mui-table-view-cell">Item 4
                </li>
                <li class="mui-table-view-cell">Item 5
                </li>
            </ul>
        </div>
    </div>
</body>
</html>