<!DOCTYPE html>
<html lang="en">

    <div class="mui-card">
        <div class="mui-card-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="../../../../src/views/enterList/enterpriseDetail.html">
                        爱德森（厦门）电子有限公司
                    </a>
                </li>
                <li class="mui-table-view-cell"> 
                    <a href="../../../../src/views/enterList/enterpriseDetail.html">
                        爱德森（厦门）电子有限公司
                    </a>
                </li>
                <li class="mui-table-view-cell"> 
                    <a href="../../../../src/views/enterList/enterpriseDetail.html">
                        安方高科电磁安全技术（北京）有限公司
                    </a>
                </li>
                <li class="mui-table-view-cell">     
                    <a href="../../../../src/views/enterList/enterpriseDetail.html">
                        Item 4
                    </a>
                </li>
                <li class="mui-table-view-cell"> 
                    <a href="../../../../src/views/enterList/enterpriseDetail.html">
                        Item 5
                    </a>
                </li>
            </ul>
        </div>
    </div>
</html>