<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业及产品</title>
    
    <link href="../../../static/css/mui/mui.min.css" rel="stylesheet"/>
	<link href="../../../assets/css/common.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../assets/css/queryPoint.css">

	<script src="../../../static/js/babel/babel-browser.min.js" type="text/javascript"></script>
	<script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
    <script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../../static/js/lazyload/jquery.lazyload.min.js" type="text/javascript"></script>        
  	<script src="../../../assets/js/home/index.js" type="text/babel"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
    <header>
        <script>
            $("header").load("../../common/head-back-search/index.html");//
        </script>
    </header>
    <div class="tabs">
        <p><a href="javscript:;" class="cur">企业名录</a></p>
        <p><a href="javscript:;">产品技术</a></p>
    </div>
	<!-- 内容 -->
	<article class="mui-content mian list">
        <script>
            $(".list").load("./list/list-qyml.html");
        </script>
    </article>
    <!-- 内容 -->
	<article class="mui-content mian list2" style="display:none;">
        <script>
            // $(".list2").load("./list/list-cpjs.html");
            $(".list2").load("../../common/photo-list/photo-list-title.html")
        </script>
    </article>
</body>
<script>
    $(document).ready(function(){
        $(".tabs p").on("click",function(){
            $(this).find("a").addClass("cur").parent().siblings().find("a").removeClass("cur");
            $(".mian").eq($(this).index()).show().siblings(".mian").hide();
        })
    })
</script>
</html>