<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>产品详情</title>
  <link href="../../../static/css/mui/mui.min.css" rel="stylesheet" />
  <link href="../../../assets/css/common.min.css" rel="stylesheet" />
  <link href="../../../assets/css/enterpriseDetail.css" rel="stylesheet" />
  <script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  <script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    mui.init();
  </script>
</head>

<body>
  <!-- 头部 -->
  <header>
    <script>
      $("header").load("../../common/topbar.html");
    </script>
  </header>

  <!-- 内容 -->
  <article class="mui-content">
    <div class="content mui-row">
      <h4 class="mui-col-xs-12">双色数字印刷系统智能双色数字印刷系统系统</h4>
      <div class="mui-col-xs-12 law-ceil">
        <div class="mui-col-xs-12 ceil">
          <span>发布单位：北京方正印捷数码技术有限公司</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span class="left">发布时间：2019-05-15 15:00:00</span>
          <span class="right">点击次数：20</span>
        </div>
      </div>
      <!-- 展示图 -->
      <div class="card-list showVideo">
        <script>
          $(".showVideo").load('../../common/card-list/card-photo-six.html');
        </script>
      </div>
      <!-- 产品信息 -->
      <div class="mui-col-xs-12 law-ceil">
        <h2 class="card-title mui-col-xs-10">产品信息</h2>
        <h5 class="mui-col-xs-12 product">产品（技术）名称：双色数字印刷系统</h5>
        <h5 class="mui-col-xs-12 product">信息密级：公开</h5>
        <h5 class="mui-col-xs-12 product">企业名称：北京方正印捷数码技术有限公司</h5>
        <h5 class="mui-col-xs-12 product">先进程度：国际先进</h5>
        <h5 class="mui-col-xs-12 product">发布范围：向全社会发布</h5>
        <h5 class="mui-col-xs-12 product">专业领域：航空、航天、船舶、海洋、通信</h5>
        <h5 class="mui-col-xs-12 product">报价范围：10-15万元</h5>
        <h5 class="mui-col-xs-12 product">产品（技术）关键词：高性能</h5>
        <h5 class="mui-col-xs-12 product">是否自主可控：是</h5>
        <span class="mui-col-xs-12 product-txt">
          方正印捷D5036双色印刷系统是为政府办公双色印刷定制的数码解决方案，
          其具备金光红色和黑色双色输出能力，针对双色红头文件的印制，
          以及中小批量的黑白文件印刷实现高效、安全、及时的输出，
          专门为各级政府文印单位提供双色印刷解决方案。
        </span>
        <h5 class="mui-col-xs-12 product">产品技术简介</h5>
        <span class="mui-col-xs-12 product-txt">
          方正印捷流程软件自动打号工具：1.主要用于政府部门或机关打号业务，
          实现承印物自动打号；2.加强公文管理，严控文件流向及数目；3.支持对起始号、号码位数、
          号码位置、号码透明、逆序等自定义设置；4.支持对号码前缀、后缀字体和间距的设置。
        </span>
        <h5 class="mui-col-xs-12 product">主要指标</h5>
        <span class="mui-col-xs-12 product-txt">
          D5036双色数码印刷系统主机，含1套墨粉</br>
          成像技术：LED</br>
          打印速度：双色36页/分钟，黑白40页/分钟（使用64-74g/m²）</br>
          分辨率：600×1200dpi，图像增强模式2400dpi</br>
          电气要求：单项220-240V交流电</br>
          双面打印：支持</br>
        </span>
        <h5 class="mui-col-xs-12 product">应用情况</h5>
        <span class="mui-col-xs-12 product-txt">
          方正印捷D5036双色印刷系统是为政府办公双色印刷定制的数码解决方案，
          其具备金光红色和黑色双色输出能力，针对双色红头文件的印制，
          以及中小批量的黑白文件印刷实现高效、安全、及时的输出，
          专门为各级政府文印单位提供双色印刷解决方案。
        </span>
        <h5 class="mui-col-xs-12 product">应用情况</h5>
        <span class="mui-col-xs-12 product-txt">
          方正印捷D5036双色印刷系统是为政府办公双色印刷定制的数码解决方案，
          其具备金光红色和黑色双色输出能力，针对双色红头文件的印制，
          以及中小批量的黑白文件印刷实现高效、安全、及时的输出，
          专门为各级政府文印单位提供双色印刷解决方案。
        </span>
        <h5 class="mui-col-xs-12 product">应用情况</h5>
        <span class="mui-col-xs-12 product-txt">
          方正印捷D5036双色印刷系统是为政府办公双色印刷定制的数码解决方案，
          其具备金光红色和黑色双色输出能力，针对双色红头文件的印制，
          以及中小批量的黑白文件印刷实现高效、安全、及时的输出，
          专门为各级政府文印单位提供双色印刷解决方案。
        </span>
        <h5 class="mui-col-xs-12 product">应用领域</h5>
        <span class="mui-col-xs-12 product-txt">
          轻武器、火炮、军用车辆、导弹、航空器
        </span>
        <h5 class="mui-col-xs-12 product">专利情况</h5>
        <span class="mui-col-xs-12 product-txt">
          ● 数码印刷方法和装置</br>
          ● PDF文件的数码印刷输出方法和装置</br>
          ● 一种调整数码印刷系统走纸速度的方法及装置</br>
          ● 一种数码印刷控制方法及设备、线性往复运动机构</br>
          ● 数控机床、喷绘机和数码印刷设备</br>
          ● 一种数码印刷系统及数码印刷方法</br>
          ● 一种数码印刷系统颜色校色方法及装置</br>
        </span>
        <h5 class="mui-col-xs-12 product">获奖情况</h5>
        <span class="mui-col-xs-12 product-txt">
          ● 2010年，方正畅流数字化工作流程解决方案被工信部授予“计算机信息系统集成典型解决方案”称号</br>
          ● 2009年，方正飞翔是中国第一款面向全球、拥有自主知识产权的专业排版软件</br>
          ● CMMI4软件开发定量管理认证。</br>
        </span>
        <h5 class="mui-col-xs-12 product">联系人</h5>
        <span class="mui-col-xs-12 product-txt">
          蔡文
        </span>
        <h5 class="mui-col-xs-12 product">手机</h5>
        <span class="mui-col-xs-12 product-txt">
          13810861043
        </span>
        <h5 class="mui-col-xs-12 product">固定电话</h5>
        <span class="mui-col-xs-12 product-txt">
          010-87654312
        </span>
      </div>
      <div class="mui-col-xs-12 enclosure">
        <img class="mui-col-xs-6 requireImg" src="../../../assets/img/purchaseRequirement/enclosure.png" alt="">
        <a href="" class="mui-col-xs-6">双色数字印刷系统附件.docx</a>
      </div>
    </div>
  </article>
</body>

</html>