.tabs {
  display: flex;
  height: 44px;
  background: white;
}
.tabs p {
  width: 50%;
  text-align: center;
}
.tabs p a {
  padding: 7px 10px 13px 10px;
  line-height: 44px;
  color: #333333;
}
.tabs p a.cur {
  color: #025ab3;
  border-bottom: 2px solid #025ab3;
}
.content-wrapper {
  padding: 17px 14px 0 14px;
}
.content-wrapper .accordion-card-wrapper {
  margin-bottom: 10px;
}
.content-wrapper .accordion-card-wrapper .mui-card {
  margin: 0;
  width: 100%;
}
.content-wrapper .accordion-card-wrapper .mui-card li {
  padding: 15px 5px 15px 10px;
}
.content-wrapper .accordion-card-wrapper .mui-card .mui-navigate-right {
  padding: 8px 15px;
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #025ab3;
}
