.fr {
  float: right;
}
.heades {
  width: 100%;
  padding: 0 10px;
  background: #025ab3;
  height: 44px;
  display: flex;
  justify-content: space-between;
  line-height: 44px;
}
.heades .heades-title {
  color: #fffefe;
  font-size: 18px;
}
.heades .icons {
  color: white;
}
.heades .back-icons::before {
  content: '\e582';
  line-height: 44px;
}
.heades .serar-icons::before {
  content: '\e466';
  line-height: 44px;
}
.heades .heades-searc {
  width: 260px;
  height: 29px;
  background: #ffffff;
  border-radius: 14px;
  margin: auto;
  font-size: 12px;
}
.heades-search-box {
  display: none;
  position: relative;
}
.heades-search-box .serarch-btn {
  color: white;
  font-size: 14px;
}
.heades-search-box input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.history-mark {
  z-index: 99999;
  display: none;
  background: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 54px;
}
.history-mark .history-mark-title {
  font-size: 17px;
  text-indent: 14px;
  padding-top: 15px;
  color: #333333;
}
.history-mark .history-mark-title span {
  color: #bcbcbc;
  padding-right: 14px;
}
.history-mark .history-mark-ulo-li {
  width: 50%;
  height: 44px;
  line-height: 44px;
  color: #666666;
  float: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 13px;
  padding-right: 24px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-left: 0;
}
.history-mark .history-mark-ulo-li:nth-child(2n) {
  border-right: 0;
}
.history-mark .history-mark-ulo-li:nth-child(3n+3),
.history-mark .history-mark-ulo-li:nth-child(1n+3) {
  border-top: 0;
}
