<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通用装备</title>

    <link href="../../../static/css/mui/mui.min.css" rel="stylesheet"/>
	<link href="../../../assets/css/common.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../assets/css/queryPoint.css">

	<script src="../../../static/js/babel/babel-browser.min.js" type="text/javascript"></script>
	<script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
    <script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../../static/js/lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
  	<script src="../../../assets/js/home/index.js" type="text/babel"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
    <header>
        <script>
            $("header").load("../../common/head-back-search/index.html");
        </script>
    </header>
    <div class="tabs tabb">
        <p><a href="javscript:;" class="cur">目录更新需求</a></p>
        <p><a href="javscript:;">产品征集</a></p>
        <p><a href="javscript:;">信息公示</a></p>
    </div>
	<!-- 内容 目录更新需求 -->
	<article class="mui-content mian list">
        <div class="main-list">
            <!-- 下拉 sta -->
            <a href="javascript:;">
                <p class="list-slid-title list-slid-title7">
                    <span>全部分类</span>
                    <i class="mui-icon mui-icon-arrowup fr iconss"></i>
                    <i class="mui-icon mui-icon-arrowdown fr icons"></i>

                </p>
                <ul class="list-slide-ulo list-slide-ulo7">
                    <li>全部分类</li>
                    <li>发布冬天</li>
                    <li>结果公示</li>
                </ul>
            </a>
            <!-- 下拉 end -->
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
        </div>
</body>
<script>
    $(document).ready(function(){
        var i=0;
        $(".list-slide-ulo7 li").on("click",function(){
            $(".list-slid-title7").find("i").eq(1).show().siblings("i").hide();
            $(".list-slid-title7 span").text($(this).text())
            $(this).parent().hide();
        })
        $(".list-slid-title7").on("click",function(){
            $(this).find("i").eq(i).show().siblings("i").hide();
            i++;
            if(i>1){
                i=0;
            }
            $(".list-slide-ulo7").toggle()
        })
    })
</script>
    </article>
    <!-- 内容 产品征集-->
	<article class="mui-content mian list2" style="display:none;">
        <div class="main-list">
            <!-- 下拉 sta -->
            <a href="javascript:;">
                <p class="list-slid-title list-slid-title5">
                    <span>全部分类</span>
                    <i class="mui-icon mui-icon-arrowup fr iconss"></i>
                    <i class="mui-icon mui-icon-arrowdown fr icons"></i>
                </p>
                <ul class="list-slide-ulo list-slide-ulo5">
                    <li>全部分类</li>
                    <li>理论方法</li>
                    <li>技术研究</li>
                    <li>丛书资料</li>
                    <li>外军资料</li>
                </ul>
            </a>

        </div>

        <div class="mui-card1 card-photo-four">
            <!--内容区-->
            <div class="mui-card-content mui-row">
                <div class=" line-list mui-col-sm-6 mui-col-xs-6">
                    <div class="card">
                        <div class="image">
                            <img class="lazy" src="../../../assets/img/lazyload/default.png" width="100%" height="auto" data-original="/assets/img/photoCard/6.png"  >
                        </div>
                        <span class="title">艾托斯工业技术</span>
                        <span class="info">爱德森（厦门）电子有限公司</span>
                    </div>
                </div>
            </div>
        </div>
        </body>
        <!-- sada -->
        <script src="../../../../static/js/lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                var i = 0;
                $(".list-slide-ulo5 li").on("click",function(){
                    $(".list-slid-title5").find("i").eq(1).show().siblings("i").hide();
                    $(".list-slid-title5 span").text($(this).text())
                    $(this).parent().hide();
                })
                $(".list-slid-title5").on("click", function () {
                    $(this).find("i").eq(i).show().siblings("i").hide();
                    i++;
                    if (i > 1) {
                        i = 0;
                    }
                    $(".list-slide-ulo5").toggle()
                })

                //
                var dataArr = [
                    { title: '精密单点定位模块', info: '艾托斯工业技术（上海）有', img: '/assets/img/photoCard/6.png' },
                    { title: '精密单点定位模块', info: '爱德森（厦门）电子有限公司', img: '../../../../assets/img/photoCard/7.png' },
                    { title: '精密单点定位模块', info: '艾托斯工业技术（上海）有', img: '../../../../assets/img/photoCard/8.png' },
                    { title: '精密单点定位模块', info: '爱德森（厦门）电子有限公司', img: '../../../../assets/img/photoCard/9.png' },
                    { title: '精密单点定位模块', info: '艾托斯工业技术（上海）有', img: '../../../../assets/img/photoCard/6.png' },
                    { title: '精密单点定位模块', info: '爱德森（厦门）电子有限公司', img: '../../../../assets/img/photoCard/7.png' },
                    { title: '精密单点定位模块', info: '艾托斯工业技术（上海）有', img: '../../../../assets/img/photoCard/8.png' },
                    { title: '精密单点定位模块', info: '爱德森（厦门）电子有限公司', img: '../../../../assets/img/photoCard/9.png' }
                ];

                var templateHtml = '';

                mui.each(dataArr, function (index, item) {
                    templateHtml +=
                        `
                    <div class=" line-list mui-col-sm-6 mui-col-xs-6">
                        <div class="card">
                                <div class="image">
                                <img class="lazy" src="../../../assets/img/lazyload/default.png" width="100%" height="auto" data-original="${item.img}"  >
                            </div>
                                <span class="title">${item.title}</span>
                            <span class="info">${item.info}</span>
                        </div>
                    </div>
					`
                });

                // 产品技术
                mui('.list2 .mui-card-content')[0].innerHTML = templateHtml;

                // 懒加载
                $("img.lazy").lazyload({
                    // threshold: 1,
                    effect: "fadeIn"
                });
            })
        </script>
    </article>
     <!-- 内容 信息公示-->
	<article class="mui-content mian list3" style="display:none;">
        <div class="main-list">
            <!-- 下拉 sta -->
            <a href="javascript:;">
                <p class="list-slid-title list-slid-title6">
                    <span>全部分类</span>
                    <i class="mui-icon mui-icon-arrowup fr iconss"></i>
                    <i class="mui-icon mui-icon-arrowdown fr icons"></i>
                </p>
                <ul class="list-slide-ulo list-slide-ulo6">
                    <li>全部分类</li>
                    <li>理论方法</li>
                    <li>技术研究</li>
                    <li>丛书资料</li>
                    <li>外军资料</li>
                </ul>
            </a>
            <!-- 下拉 end -->
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
            <a href="javascript:;">
                <div>
                    <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                    <p class="times">
                        <span class="">发布时间：2019-7-23 </span>
                    </p>
                </div>
            </a>
        </div>
        </body>
        <script>
            $(document).ready(function(){
                var i=0;
                $(".list-slide-ulo6 li").on("click",function(){
                    $(".list-slid-title6").find("i").eq(1).show().siblings("i").hide();
                    $(".list-slid-title6 span").text($(this).text())
                    $(this).parent().hide();
                })
                $(".list-slid-title6").on("click",function(){
                    $(this).find("i").eq(i).show().siblings("i").hide();
                    i++;
                    if(i>1){
                        i=0;
                    }
                    $(".list-slide-ulo6").toggle()
                })
            })
        </script>
    </article>
</body>
<script>
    $(document).ready(function(){
         $(".list-slide-ulo7 li").on("click",function(){
            $(".list-slid-title7").find("i").eq(1).show().siblings("i").hide();
            $(".list-slid-title7 span").text($(this).text())
            $(this).parent().hide();
        })
        $(".tabs p").on("click",function(){
            $(this).find("a").addClass("cur").parent().siblings().find("a").removeClass("cur");
            $(".mian").eq($(this).index()).show().siblings(".mian").hide();
        })
    })
</script>
</html>
