<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>成果推广详情</title>
  <link href="../../../static/css/mui/mui.min.css" rel="stylesheet" />
  <link href="../../../assets/css/common.min.css" rel="stylesheet" />
  <link href="../../../assets/css/purchaseRequirementDetail.css" rel="stylesheet" />
  <script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  <script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    mui.init();
  </script>
</head>

<body>
  <!-- 头部 -->
  <header>
    <script>
      $("header").load("../../common/topbar.html");
    </script>
  </header>

  <!-- 内容 -->
  <article class="mui-content">
    <div class="content mui-row">
      <h4 class="mui-col-xs-12">关于第四届军民融合发展高技术装备成果展</h4>
      <div class="mui-col-xs-12 nav-ceil">
        <div class="mui-col-xs-12 ceil">
          <span>推广分类：技术成果</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span class="left">发布时间：2019-05-15</span>
          <span class="right">点击次数：25</span>
        </div>
      </div>
      <div class="mui-col-xs-12 law-ceil">
        <div class="mui-col-xs-12 ceil">
          <span>科研单位：中国科学院声学研究所</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>先进程度：先进程度</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>支持渠道：中国科学院先导项目</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>专业领域：网络通信</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>联系人员：夏冰河</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>联系方式：18610001223</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>成果关键词：深海观测、水声通信、无线实时传输</span>
        </div>
      </div>
      <h5 class="mui-col-xs-12">
        产品（技术成果）内容：该系统利用水声通信组网技术实现海洋6000米水深范围内的观测参数实时回传到海面，然后利用卫星通信技术中继到陆地观测站，具有可靠性高、实用性强的特点。该系统2017年12月在西太平洋进行大规模应用，目前工作时间11个月，实现水下3200米和水下1000米的温度、盐度、深度和流速剖面实时回传，
        是目前世界上已经报道的连续工作时间最长的水下潜标数据实时回传系统。</br>
        功能用途、主要指标等：技术指标：水声通信速率6000
        bps；通信距离8千米；工作深度6千米；数据实时性120秒；组网节点数10个。功能用途：重点海域水下流速、温度、盐度、深度数据实时检测获取；水下探测目标特征值实时回传；水下低频声呐探测数据实时回传；重点区域水文参数预报。
      </h5>
    </div>
  </article>
</body>

</html>