<!DOCTYPE html>
<html lang="en">

<body>
    <div class="main-list">
        <a href="/src/views/outcomePromotion/outcomePromotionDetail.html">
            <div>
                <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                <p class="times">发布时间：<span>2019-7-23 17:00</span></p>
            </div>
         </a>
         <a href="/src/views/outcomePromotion/outcomePromotionDetail.html">
            <div>
                <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                <p class="times">发布时间：<span>2019-7-23 17:00</span></p>
            </div>
        </a>
        <a href="/src/views/outcomePromotion/outcomePromotionDetail.html">
            <div>
                <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                <p class="times">发布时间：<span>2019-7-23 17:00</span></p>
            </div>
        </a>
        <a href="/src/views/outcomePromotion/outcomePromotionDetail.html">
            <div>
                <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                <p class="times">发布时间：<span>2019-7-23 17:00</span></p>
            </div>
        </a>
    </div>
</html>