<!DOCTYPE html>
<html lang="en">

        <div class="main-list">
                <a href="/src/views/centPurchasing/centPurchasingDetail.html">
                    <div>
                        <p class="title">
                            关于第四届军民融合发展高技术装备成果展览暨论坛活动征文
                        </p>
                        <p class="times">
                            已对接 <span class="curs">16</span> 个 剩余 <span class="curs">15</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                 </a>
                 <a href="/src/views/centPurchasing/centPurchasingDetail.html">
                    <div>
                        <p class="title">
                            关于第四届军民融合发展高技术装备成果展览暨论坛活动征文
                        </p>
                        <p class="times">
                            已对接 <span class="curs">16</span> 个 剩余 <span class="curs">15</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="/src/views/centPurchasing/centPurchasingDetail.html">
                    <div>
                        <p class="title">
                            关于第四届军民融合发展高技术装备成果展览暨论坛活动征文
                        </p>
                        <p class="times">
                            已对接 <span class="curs">1</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="/src/views/centPurchasing/centPurchasingDetail.html">
                    <div>
                        <p class="title">
                            关于第四届军民融合发展高技术装备成果展览暨论坛活动征文
                        </p>
                        <p class="times">
                            已对接 <span class="curs">6</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
            </div>
</html>