<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    <link href="../../../static/css/mui/mui.min.css" rel="stylesheet"/>
	<link href="../../../assets/css/common.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../assets/css/queryPoint.css">

	<script src="../../../static/js/babel/babel-browser.min.js" type="text/javascript"></script>
	<script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  	<script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  	<script src="../../../assets/js/home/index.js" type="text/babel"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head> -->
<body>
        <div class="main-list">
                <!-- 下拉 sta -->
                <a href="javascript:;">
                    <p class="list-slid-title list-slid-title5">
                        <span>全部分类</span>
                        <i class="mui-icon mui-icon-arrowup fr iconss"></i>
                        <i class="mui-icon mui-icon-arrowdown fr icons"></i>
                      
                    </p>
                        <ul class="list-slide-ulo list-slide-ulo5">
                            <li>全部分类</li>
                            <li>理论方法</li>
                            <li>技术研究</li>
                            <li>丛书资料</li>
                            <li>外军资料</li>
                        </ul>
                </a>
                    <!-- 下拉 end -->
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                 </a>
                 <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
            </div>
</body>
<script>
    $(document).ready(function(){
        var i=0;
        $(".list-slide-ulo5 li").on("click",function(){
            $(".list-slid-title5").find("i").eq(1).show().siblings("i").hide();
            $(".list-slid-title5 span").text($(this).text())
            $(this).parent().hide();
        })
        $(".list-slid-title5").on("click",function(){
                $(this).find("i").eq(i).show().siblings("i").hide();
                i++;
                if(i>1){
                    i=0;
                }
            $(".list-slide-ulo5").toggle()
        })
    })
</script>
</html>