<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>公告详情</title>
  <link href="../../../static/css/mui/mui.min.css" rel="stylesheet" />
  <link href="../../../assets/css/common.min.css" rel="stylesheet" />
  <link href="../../../assets/css/purchaseRequirementDetail.css" rel="stylesheet" />
  <script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  <script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    mui.init();
  </script>
</head>

<body>
  <!-- 头部 -->
  <header>
    <script>
      $("header").load("../../common/topbar.html");
    </script>
  </header>

  <!-- 内容 -->
  <article class="mui-content">
    <div class="content mui-row">
      <h4 class="mui-col-xs-12">军械员工具箱等11型设备竞争性采购二次招标公告</h4>
      <div class="mui-col-xs-12 nav-ceil">
        <div class="mui-col-xs-12 ceil">
          <span class=" left">需求分类：研究技术类</span>
          <span class="right">发布时间：2019-05-15</span>
        </div>
        <div class="mui-col-xs-12 ceil">
            <span class="left">发布单位：海军</span>
            <span class="right">点击次数：25</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span class=" left">截止时间：2019-08-25</span>
          <span class=" right">已对接数：20 </span>
        </div>
      </div>
      <div class="mui-col-xs-12 law-ceil">
        <div class="mui-col-xs-12 ceil">
          <span>项目编号：CG1234589654</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>采购阶段：预研</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>预算金额：200万</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>项目类别：产品设备类</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>联系人员：周翰</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span> 联系方式：15801643387</span>
        </div>
        <div class="mui-col-xs-12 ceil">
          <span>专业领域：制导与控制技术；网络与电信；计算机与软件；网络与电信</span>
        </div>
      </div>
      <h5 class="mui-col-xs-12 ceil">
        一、项目概括：</br>
        (一)招标内容：氯碘尾气吸收处理系统（以下也简称系统）连接在真空机组增压排空管路上，采用吸收塔或喷淋塔形式（以下都称为吸收塔），用氢氧化钠（NaOH）水溶液对上游真空机组来流中氯气（Cl2）、碘（I2）进行吸收处理，使真空机组排放达到国家规定要求。完成尾气吸收处理系统设计与制造、运输、安装、调试和交付，包括系统设计制造、系统采购集成、系统运输、系统现场安装、系统出厂和现场调试交付，并按合同要求进行售后服务。</br>
        (二)招标控制价：28.5万元。</br>
        (三)进度要求：自合同签订之日起3个月内，完成设备现场安装、调试及验收。</br>
        (四)免费质保期：保质期自系统调试验收合格，正式交付使用之日起，计12个月。</br>
        (五) 投标保证金：人民币0.5万元。</br>
        二、投标人资格条件</br>
        (一)具有独立的法人资格，有独立承担民事责任的能力，在中华人民共和国注册并合法运营，且为非外资独资或外资控股的企业或事业单位；</br>
        (二)具有良好的商业信誉和健全的财务会计制度；</br>
        (三)具有履行合同所必需的设备和专业技术能力；</br>
        (四)有依法缴纳税收和社会保障资金的良好记录；</br>
        三、招标人联系方式</br>
        招标人：中国人民解放军63837部队</br>
        联系人：饶参谋</br>
        电话：0816-2464033</br>
        四、招标代理机构联系方式</br>
        招标代理机构：中招国际招标有限公司驻西南地区装备采购办事处</br>
        地址：四川省成都市高新区天府大道北段966号金融城4号楼1层107</br>
        邮编：610041</br>
        联系人：郭玲、商雪平、刘庭伟、周晗</br>
        电话：028-87306259、87058770、87396610、87525902</br>
        传真：028-87523391</br>
        电子信箱：zbcg@cntcitc.com.cn</br>
        开户名称：中招国际招标有限公司</br>
      </h5>

      <div class="mui-col-xs-12 enclosure">
        <img class="mui-col-xs-6 requireImg" src="../../../assets/img/purchaseRequirement/enclosure.png" alt="">
        <a href="" class="mui-col-xs-6">军械员工具箱招标公告附件5.docx</a>
      </div>

      <div class="mui-col-xs-12 btn">
        <div class="mui-col-xs-12 docking" id="dockingBtn">我要报名</div>
      </div>

    </div>
  </article>
  <script>
    $("#dockingBtn").click(function() {
      mui.alert('请到电脑端或下载APP进行报名',' ','关闭',null);
      var str = `<img src="../../../assets/img/dialog/bm.png" width="64" height="39" />`
      $(".mui-popup-title").append(str)
    })
  </script>
</body>

</html>