<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
        <div class="main-list">
                <!-- 下拉 sta -->
                <p class="list-slid-title list-slid-title2">
                    <span>国家颁布法规</span>
                    <i class="mui-icon mui-icon-arrowdown fr icons"></i>
                </p>
                <ul class="list-slide-ulo list-slide-ulo2">
                    <li>国家颁布法规</li>
                    <li>军队和国家联合颁布法规</li>
                    <li>军队颁布法规</li>
                    <li>其它法规</li>
                </ul>
                <!-- 下拉 end -->
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            已对接 <span class="curs">56</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                 </a>
                 <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            已对接 <span class="curs">56</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            已对接 <span class="curs">16</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            已对接 <span class="curs">6</span> 个 剩余 <span class="curs">5</span> 个
                            <span class="fr">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
            </div>
<script>
    $(document).ready(function(){
        $(".list-slid-title2").on("click",function(){
            $(".list-slide-ulo2").toggle()
        })
    })
</script>
</html>