<!DOCTYPE html>
<html lang="en">
 
    <section>
        <div class="ment_list">
            <a href="javascript:;">
                <div class="ment-list-divs">
                    <div class="ment-list-img">
                        <img src="../../../../assets/img/home/bai.png" alt="">
                    </div>
                    <p>百问百答</p>
                </div>
            </a>
            <a href="javascript:;">
                <div class="ment-list-divs">
                    <div class="ment-list-img">
                        <img src="../../../../assets/img/home/zhi.png" alt="">
                    </div>
                    <p>知识问答</p>
                </div>
            </a>
            <a href="javascript:;">
                <div class="ment-list-divs">
                    <div class="ment-list-img">
                        <img src="../../../../assets/img/home/xu.png" alt="">
                    </div>
                    <p>许可指南</p>
                </div>
            </a>
            <a href="javascript:;">
                <div class="ment-list-divs">
                    <div class="ment-list-img">
                        <img src="../../../../assets/img/home/xuan.png" alt="">
                    </div>
                    <p>宣讲</p>
                </div>
            </a>
            
        </div>
    </section>

    <section>
        <div class="ment-Laws">
            <div class="ment-laws-top">
                <span class="title">准入办理流程</span>
            </div>
            <div class="ment-laws-list">
                <a href="javascript:;"><div class="ment-laws-li">装备承制单位资格证1</div></a>
                <a href="jacascript:;"><div class="ment-laws-li">武器装备科研生产许可证2</div></a>
                <a href="jacascript:;"><div class="ment-laws-li">武器装备科研生产单位保密资格证3</div></a>
                <a href="jacascript:;"><div class="ment-laws-li">装备承制资格受理点4</div></a>
            </div>
        </div>
    </section>

    <section>
        <div class="ment-Laws">
            <div class="ment-laws-top">
                <span class="title">准入法规</span>
                <span class="fr more">更多</span> 
            </div>
            <div class="ment-laws-list">
                <a href="javascript:;"><div class="ment-laws-li">雁门太守行 唐 · 李贺</div></a>
                <a href="javascript:;"><div class="ment-laws-li">黑云压城城宇摧，甲光向日金鳞开。</div></a>
                <a href="javascript:;"><div class="ment-laws-li">角声漫天秋色里，塞上胭脂凝夜紫。</div></a>
                <a href="javascript:;"><div class="ment-laws-li">半卷红旗临易谁，霜重鼓寒声不起。</div></a>
                <a href="javascript:;"><div class="ment-laws-li">保军黄金台上意，提携玉龙为君四。</div></a>
                <a href="javascript:;"></a>
            </div>
        </div>
    </section>
    <section>
        <div class="ment-Laws">
            <div class="ment-laws-top">
                <span class="title">专家观点</span>
                <span class="fr more">更多</span>
            </div>
            <div class="ment-laws-list">
                <a href="javascript:;"><div class="ment-laws-li">对竞争过程结果有异议，如何进行询问、质疑和...</div></a>
                <a href="javascript:;"><div class="ment-laws-li">装备采购方式及适用条件是什么？</div></a>
                <a href="javascript:;"><div class="ment-laws-li">如何督促民营企业提供质量合格的产品？</div></a>
                <a href="javascript:;"><div class="ment-laws-li">如果民营企业在竞争前期有较大投入，竞争失利...</div></a>
                <a href="javascript:;"><div class="ment-laws-li">装备采购方式及适用条件是什么？</div></a>
            </div>
        </div>
    </section>
       
</html>