<!DOCTYPE html>
<html lang="en">
    <style>
    .left-block {
        float: left;
        text-align: left;
    }
    </style>
  <div class="main-list">
                    <!-- 下拉 end -->
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">百问百答百问百答百问百答百问百答百问百答百问百答百问百答</p>
                        <p class="times">
                            <span class="fr left-block">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                 </a>
                 <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="fr left-block">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="fr left-block">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="../../../../src/views/lawStandard/lawStandardDetail.html">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="fr left-block">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
            </div>
</html>