<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    <link href="../../../static/css/mui/mui.min.css" rel="stylesheet"/>
	<link href="../../../assets/css/common.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../assets/css/queryPoint.css">

	<script src="../../../static/js/babel/babel-browser.min.js" type="text/javascript"></script>
	<script src="../../../static/js/mui/mui.min.js" type="text/javascript"></script>
  	<script src="../../../static/js/jquery/jquery.min.js" type="text/javascript"></script>
  	<script src="../../../assets/js/home/index.js" type="text/babel"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
        <div class="main-list">
                <!-- 下拉 sta -->
                <a href="javascript:;">
                    <p class="list-slid-title list-slid-title4">
                        <span>国家颁布法规</span>
                        <i class="mui-icon mui-icon-arrowdown fr icons"></i>
                    </p>
                        <ul class="list-slide-ulo list-slide-ulo4">
                            <li>国家颁规</li>
                            <li>军队和国</li>
                            <li>军队法规</li>
                            <li>其它法规</li>
                            <li>军队法规</li>
                            <li>其它法规</li>
                            
                        </ul>
                </a>
                    <!-- 下拉 end -->
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                 </a>
                 <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span >发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
                <a href="javascript:;">
                    <div>
                        <p class="title">关于第四届军民融合发展高技术装备成果展览暨论坛活动征文</p>
                        <p class="times">
                            <span class="">发布时间：2019-7-23 </span>
                        </p>
                    </div>
                </a>
            </div>
</body>
<script>
    $(document).ready(function(){
        $(".list-slid-title4").on("click",function(){
            $(".list-slide-ulo4").toggle()
        })
    })
</script>
</html>